.hedgehog-features {
    padding: 50px;
}

.hedgehog-features .features-list {
    margin: -15px;
    display: flex;
    flex-direction: row;
}

.hedgehog-features .feature-wrapper {
    
    width: 33.333%;
    padding: 15px;
}

.hedgehog-features .feature {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #cecece;
    padding: 40px 20px 20px 20px;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

.hedgehog-features .feature.top {
    margin-top: 0;
    padding-bottom: 40px;
}

.hedgehog-features .feature .top-feature {
    background: red;
    color: #ffffff;
    position: absolute;
    transform: rotate(45deg);
    padding: 5px 20px; /* отступ от текста внутри ленты */
    width: 130px; /* ширина ленты */
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    top: 20px; /* устанавливает положение ленточки по вертикали */
    right: -30px; /* устанавливает положение ленточки по горизонтали */
    text-align: center; /* текст внутри ленточки - по центру ленточки */
}

.hedgehog-features .feature .feature-header {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 20px; /* отступ абзацного текста снизу для остального */
    text-align: center;
}

.hedgehog-features .feature .feature-description {
    font-size: 14px;
    line-height: 1.7; /* межстрочный интервал */
}
